.formulario {
  font-family: $fuente-principal;
  padding: $espaciado-medio;
  text-align: center;
  background-color: $color-naranja;
  min-height: 200px;
}

.form {
  color: $color-blanco;
  margin-left: $espaciado-medio;
  margin-right: $espaciado-medio;
  padding: $espaciado-medio;
}